.home {
	// padding: 20px;
}
.header-info {
	display: flex;
	justify-content: space-around;
	background: #fcfeff;
	border: 1px solid #beb8b8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 40px 0 50px 0;
	margin-bottom: 20px;
	.block-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background: #fffcfc;
		border: 1px solid #000000;
		border-radius: 10px;
		padding: 20px 0;
		width: 260px;
	}
}
